$brand-white: #ffffff;
$brand-black: #303030;
$brand-red: #b52925;
$bg-black: rgb(9, 8, 10);

$screen-xs: 480px;
$screen-xs-min: $screen-xs;
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-md: 1001px;
$screen-md-min: $screen-md;
$screen-lg: 1200px;
$screen-lg-min: $screen-lg;
$screen-xl: 1440px;
$screen-xl-min: $screen-xl;

$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);
$screen-lg-max: ($screen-xl-min - 1);
