.topbar {
  padding: 0;
  background-color: $bg-black;
  justify-content: center;
  z-index: 99;

  @media (min-height: 300px) {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }

  img {
    height: 125px;
    object-fit: contain;
    max-width: 100vw;
  }
}

.homebar {
  position: sticky;
  position: -webkit-sticky;
  top: 125px;
  z-index: 99;

  height: 75px;
  padding: 20px;
  background-color: $bg-black;
  color: $brand-white;

  @media(max-width: $screen-xs-max) {
    text-align: center;
    padding: 5px;

    .navbar-toggler {
      margin: 0 auto;
    }

    .navbar-collapse, .navbar-collapse * {
      background: $bg-black;
    }
  }

  a {
    transition: 0.2s all ease-in;
    opacity: .75;

    &:hover {
      text-decoration: none;
      color: $brand-white;
      font-size: 18px;
      font-weight: bold;
      opacity: 1;
      cursor: pointer;
    }
  }

  .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    letter-spacing: 1px;
  }
}