@import 'scss/colors';
@import 'scss/home';

html, body {
  margin: 0; padding: 0;
}

body,
body * {
  color: $brand-white;
  font-family: 'Montserrat', sans-serif;
}
  
body {
  background: url('https://ralphkaminski.com/assets/background.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: $brand-kora;
  width: 100%;
  max-width: 100%;

}

body.kora {
  background: url('https://ralphkaminski.com/assets/background.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: $brand-kora;
  color: $brand-white;
}

body.kora * {
  color: $brand-white;
}

hr {
  border-top: 4px solid rgba(255,255,255,.1);
  width: 100%;
}
