@import 'scss/colors';
@import 'scss/home';

html, body {
  margin: 0; padding: 0;
}

body,
body * {
  color: $brand-white;
  font-family: 'Montserrat', sans-serif;
}
  
body {
  background: $brand-kora;
  background-size: contain;
  background-repeat: repeat;
  width: 100%;
  max-width: 100%;

}

body.kora {
  background-color: $brand-kora;
  color: $brand-white;
}

body.kora * {
  color: $brand-white;
}

hr {
  border-top: 4px solid rgba(255,255,255,.1);
  width: 100%;
}
