@import 'scss/colors';
@import 'scss/home';

html, body {
  margin: 0; padding: 0;
}

body,
body * {
  color: $brand-brown;
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  font-weight: 700;
}
  
body {
  background-image: url('/assets/bal-background.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: $brand-beige;
  width: 100%;
  max-width: 100%;
}

body.kora {
  background: url('https://ralphkaminski.com/assets/background1.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: $brand-kora;
  color: $brand-white;
}

body.kora * {
  color: $brand-white;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

hr {
  border-top: 4px solid rgba(255,255,255,.1);
  width: 100%;
}
